/*
    body {
    min-width:700px;
}

*/

/*
    Height : 600 = action(20) + table(548) + marge (32)

*/

html {
    width: 800px;
    height: 600px;
}


.scanner_actions {
    /* height:22px;     */
    width:300px;
    height:548px;
    float:left;
    /* padding-left:10px; */
    /* padding-bottom:3px; */
}

.scanner_action {
    vertical-align: top;
}

.span-waiting {
    display: inline-block;
    background:url('waiting.gif') repeat;  /* repeat-x left*/
    width: 25px;
    height: 25px;
}

#scannerListUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333333;*/
}
#scannerListUl li a {
    display: block;
    color: black;
    text-align: left;
    padding: 5px;
    text-decoration: none;
}
#scannerListUl li a:hover {
    background-color: #4CAF50;  /* green*/
}


.scannerList_div {
    /* width:auto; */
    width:480px;
    /* height:548px; */
    height:590px;
    overflow: auto; 
    overflow-x: hidden; 
    float:left;
}


.scannerList_table {
    width:auto;
    height:auto;
    border-collapse: separate;
}

th, td {
    /* padding: 5px; */
    text-align: left;
}

/* Templates */

.templates {
  display: none;
}


.scanner_div_ok { 
    padding: 5px;
    border: 1px solid black;
    border-radius:6px;
    background-color: #CBF7F7;
}

/* 
   https://24ways.org/2011/css3-patterns-explained 
   http://dabblet.com/gist/1481808
   http://codepen.io/anon/pen/NdRrNQ
*/
.scanner_div_err { 
    padding: 5px;
    border: 3px solid red;
    border-radius:6px;
    background: repeating-linear-gradient(
        135deg, 
        red, red .07%, 
        #f1f1c1 .1%, #f1f1c1 .75%);
}


.span-group {
    border: 1px solid; 
    padding-left:5px;
    padding-right: 5px;
    padding-bottom:4px;
    margin-right: 3px;
    height: 22px;
    display: inline-block;
}

.span-left {
    display: inline-block;
    width:130px;
    vertical-align: top;
}


.span-right {
    display: inline-block;
    width:600px;
}


.span-Name {
    text-decoration: underline;
    cursor: pointer;
}

.span-Name:before {
    content: "\25B2"; /* Up arrow */
}

.span-Name.collapsed:before { 
    content: "\25BC"; /* Down arrow */
}

.template_Name {
    width: 600px;
}

.template_Site {
    width: 600px;
}

.template_SearchSelector {
    width: 600px;
}

.template_Result {
    border: 1px solid black;
    display: inline-block;
    width: 598px;
    min-height: 22px;   
    max-height: 110px;  /* 5 lines   */
    overflow: auto;     /* scrollbar */
}

.template_ArraySelector {
    width: 600px;
}

/*
    Other element that can be styled

    template_PollingInterval
    template_CheckTime
    template_Checksum
    template_Enabled
    template_Validated
    template_CheckNow
    template_Open
    template_Delete
*/