/* 
http://www.w3schools.com/html/html_tables.asp
http://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_id1 
*/


/* Templates */

.templates {
  display: none;
}

.scannerList_table {
    width:770;
}

/*
th, td {
.scannerList_table th, .scannerList_table td {
.scannerList_table > th, .scannerList_table > td {
    
*/

.scannerList_table > tbody > tr {
    border: 1px solid black;
    border-collapse: separate;
    border-radius:6px;
    -moz-border-radius:6px;
}
th, td {
    padding: 5px;
    text-align: left;
}
