/*body {
    min-width:700px;
}*/

/* Templates */

.templates {
  display: none;
}

.scannerList_table {
    width:770px;
    border-collapse: separate;
}

th, td {
    /* padding: 5px; */
    text-align: left;
}

.scanner_div2 { 
    padding: 5px;
    border: 1px solid black;
    border-radius:6px;
    background-color: #f1f1c1;
}

.template_Result {
    border: 1px solid black;
}